defaults:
  - model: transformer
  - data: fineweb10B
  - training: default
  - system: default
  - logging: default
  - checkpoint: default
  - _self_

out_dir: /fast/pnazari/quark

hydra:
  job:
    chdir: false
  run:
    dir: .
  output_subdir: null
